.product-item {
  /* border: 2px solid palevioletred; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin: 10px auto;
  padding: 5px;
  background-color:rgb(255,255,255);
  border-radius: 10px;
}

