*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: grey;
  /* border: 2px solid black; */
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(87, 85, 217);
}
